<div class="profile-form">
    <form name="profile_form" id="profile-form" enctype="multipart/form-data" method="post" profile-form-validation>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="last_name">Middle Name</label>
            <input type="text" class="form-control" id="midddle_name" name="middle_name" placeholder="Enter Middle Name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="user_email" name="user_email" placeholder="Enter Email address">
        </div>
        <div class="form-group">
            <label for="Mobile">Mobile #</label>
            <input type="text" class="form-control" id="user_mobile" name="user_mobile" placeholder="Enter Mobile">
        </div>
        <div class="form-group">

            <button type="submit" class="btn btn-primary proceed" id="save-detail">Save Details</button>
        </div>
    </form>
</div>